$btnColor: #FF3E79;
$textColorGrey: #7E7E82;
$textColorBlack: #1B1C21;

$borderColor: #41F6D7;

$fontFamily: 'TT Lakes';

$fontSizeSm: 14px;
$fontSizeMd: 16px;
$fontSizeLg: 28px;

$lineHeightSm: 16px;
$lineHeightMd: 18px;
$lineHeightLg: 24px;
$lineHeightXl: 32px;
