@import "../fonts/stylesheet.css";
@import "normalize";
@import "var";
@import "./blocks/index";
@import "./other/other";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

